* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8e8e8;
  font: 16px/1.4 Arial;
  color: #888;
  margin: 0;
}
#app {
  max-width: 1200px;
  margin: 50px auto;
  background-color: #fff;
}

#header {
  padding: 60px 90px;
}

#app h1 {
  font-size: 40px;
  color: #000;
  font-weight: 300;
  display: flex;
  align-items: center;
}

#app h1 .iconfont {
  font-size: 50px;
  margin-right: 10px;
}

.search-area {
  text-align: center;
}

.search-panel {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  margin-top: 60px;
  border-bottom: 1px solid #ccc;
}

.search-panel > li {
  padding: 10px 10px;
  margin: 0 10px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.search-panel > li.active {
  border-color: #838383;
  color: #000;
  transition: all 0.2s;
}
.search-panel > li:hover {
  border-color: #838383;
  color: #000;
  transition: all 0.2s;
}


.search-input-area {
  margin-top: 40px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  max-width: 500px;
}

.search-input-area input {
  flex: 1;
  outline:none;
  height: 48px;
  line-height: 48px;
  background-color: #f2f2f2;
  font-size: 16px;
  padding: 0 10px;
  border: none;
  border-radius: 2px;
  margin-right: 10px;
}

.btn {
  background-color: #222222;
  width: 128px;
  height: 46px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.main {
  background-color: #f7f7f7;
  color: #000;
  /* inline-block */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-top: 40px;
}

.item-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  /* 居中 */
  text-align: center;
  padding-top: 10px;
}
dd {
  /* 居中 */
  text-align: center;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  /* border: red 1px solid; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-link {
  white-space: nowrap;
  display: inline-block;
  display: flex;
  align-items: center;
}
/* 清除a标签的颜色和样式 */
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #fff;
  background-color: #000;

  /* text-decoration: underline; */
}
img {
  /* 行内 */
  display: inline-block;
}
p {
  max-width: 340px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* 行内 */
  display: inline-block;
  padding: 5px;
}
/* .main dl {
  position: absolute;
  border: 1px solid red;
  background-color: #fff;
} */

*::selection {
  background:rgb(0, 0, 0);
  color:#ffffff;
}
*::-moz-selection {
  background:rgb(0, 0, 0);
  color:#ffffff;
}
*::-webkit-selection {
  background:rgb(0, 0, 0);
  color:#ffffff;
}