<?xml version="1.0" ?>
<rules>
	<clear/>
	<rule name="http_toHttps" stopProcessing="true">
		<match url="(.*)"/>
		<conditions>
			<add ignoreCase="true" input="{HTTPS}" pattern="off"/>
		</conditions>
		<action redirectType="Permanent" type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
	</rule>
</rules>
